<ion-content class="ion-padding">

  <div class="cadastro-container">

    <h2>Crie sua conta</h2>

    <form [formGroup]="form" class="form-box">

      <ion-item>
        <ion-input
          label="Nome"
          labelPlacement="floating"
          formControlName="name">
        </ion-input>
      </ion-item>
      <p class="erro" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
        {{ getMensagemErro('name') }}
      </p>

      <ion-item>
        <ion-input
          label="Email"
          type="email"
          labelPlacement="floating"
          formControlName="email">
        </ion-input>
      </ion-item>
      <p class="erro" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        {{ getMensagemErro('email') }}
      </p>

      <ion-item>
        <ion-input
          label="Senha"
          type="password"
          labelPlacement="floating"
          formControlName="senha">
        </ion-input>
      </ion-item>
      <p class="erro" *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">
        {{ getMensagemErro('senha') }}
      </p>

      <ion-button
        expand="block"
        class="main-btn"
        (click)="cadastrar()"
        [disabled]="form.invalid">
        Cadastrar
      </ion-button>

    </form>

    <ion-button expand="block" fill="clear" class="small-btn" (click)="voltarRegras()">
      Voltar para Regras
    </ion-button>

    <ion-button expand="block" fill="clear" class="small-btn" (click)="voltarLogin()">
      Já tenho conta
    </ion-button>

  </div>

  <ion-toast #toast position="bottom"></ion-toast>

</ion-content>
