<ion-content class="ion-padding">

  <h2>Crie sua conta</h2>

  <ion-item>
    <ion-input
      placeholder="Nome"
      type="text"
      [(ngModel)]="name">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      placeholder="Email"
      type="email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      placeholder="Senha"
      type="password"
      [(ngModel)]="senha">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="cadastrar()">
    Cadastrar
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="voltarLogin()">
    Já tenho conta
  </ion-button>

  <ion-button expand="block" (click)="voltarRegras()">
    Voltar para Regras
  </ion-button>

</ion-content>
