.cadastro-container {
  max-width: 420px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

h2 {
  font-weight: 600;
  margin-bottom: 25px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.erro {
  margin: 0;
  font-size: 13px;
  color: var(--ion-color-danger);
  text-align: left;
  margin-left: 4px;
  margin-top: -6px;
}

.main-btn {
  margin-top: 10px;
}

.small-btn {
  margin-top: 8px;
  font-size: 14px;
}
