<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Classificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of ranking">
      <!-- Avatar -->
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <!-- Nome + Nível -->
      <ion-label>
        <h3>{{ user.name }}</h3>
        <p>Nível {{ user.level || 1 }}</p>
      </ion-label>

      <!-- Pontuação -->
      <div slot="end" class="score">
        {{ user.points | number:'1.0-0' }} pts
      </div>
    </ion-item>
  </ion-list>
</ion-content>

