.daysport-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}


.sport-green {
  color: rgb(31, 219, 31);
}




.custom-card {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.37);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.hint-card {
  width: 18%;
  text-align: center;
  border-radius: 14px;
  padding: 10px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hint-card:hover {
  transform: scale(1.05);
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.icon-row {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: 10px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;

  ion-icon {
    font-size: 36px;
    margin-bottom: 7px;
  }

  ion-label {
    font-size: 12px;
    color: #dfe227;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.hint-container {
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  ion-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
}
/* Área do input */
.input-section {
  padding: 0 18px;
  margin-top: -10px;

  display: flex;             
  flex-direction: column;    
  align-items: center;      
  justify-content: center;    

  ion-input {
    --padding-start: 10px;
    --padding-end: 10px;
    padding-top: 6px;
    padding-bottom: 6px;

    font-size: 14px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 12px;
    width: 50%;              
  }

  ion-button {
    height: 36px;
    font-size: 14px;
    border-radius: 8px;
    width: 50%;              
  }
}


.custom-card {
  ion-card-content {
    padding-top: 15px;
  }
}

/* Área de dicas */
.hint-container ion-card {
  font-size: 14px;
}
