.simple-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info ion-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
  border: 3px solid #3880ff;
  border-radius: 50%;
}

.user-info h2 {
  margin: 5px 0;
}

.user-info .email {
  font-size: 14px;
  color: #555;
}

.simple-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 25px;
}

.stat {
  text-align: center;
}

.stat strong {
  font-size: 22px;
  display: block;
}

.stat span {
  font-size: 14px;
  color: #666;
}
